/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*styles globals */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* div de séparation */
.sep {
  margin-top: 30px;
  margin-bottom: 25px;
  width: 100%;
  border-bottom: 2px solid rgb(40, 105, 34);
  box-shadow: 0px 0px 8px 5px rgba(40, 105, 34,0.88);
}

/* background */
body {
  background-image: url('../images/bg_home.jpg');
  background-size: cover;
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1920px;
  min-height: 100vh;
}
/* Styles CSS pour la barre de navigation */
header {
  width: 100%;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  user-select: none;
  border: solid 2px #523e15;
}
/* navbar */
.logo {
  width: 80px;
}
.nav-item {
  margin: 10px;
}
.nav-item:hover {
  font-weight: bolder;
}
.nav-link {
  color: rgb(40, 105, 34);
}


.bg-navBar {
  background-color: #ddae48b9; 
}
/* carousel */
#imageCarousel {
  padding: 10px;
  max-width: 500px;
  max-height: 250px;
  margin: 15px auto 15px auto;
 
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  left: -45px; 
}

.carousel-control-next {
  right: -45px; 
}

.carousel-inner .carousel-item {
  display: none;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-inner .carousel-item.active {
  display: block;
  opacity: 1;
}

.carousel-item-content {
  position: relative;
}

.carousel-item-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: none;
}

.carousel-item-content:hover .carousel-item-overlay {
  display: block;
}
.carousel-item-content img {
 
  max-height: 200px;
  margin: auto;
  object-fit: cover; 
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item-content img:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* bouton de reservation */
.reservation_div{
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.445);
  padding: 5px; 
}
.reservation_div a{
  width : 200px;
  font-size: 18px;
  font-weight: 400;
 margin: auto;
 padding: 5px;
 text-align: center;
 border: solid 1px aliceblue;
 border-radius: 5px;
 background-color: rgb(40, 105, 34);
 color: aliceblue;
}
.reservation_div a:hover{
font-weight: bolder;
background-color: rgb(56, 153, 47);
color:white !important;
}


/* footer */
footer {
  width: 100%;
}
.reserv {
  font-size: 22px;
  color: aliceblue;
  text-align: center;
  margin: auto;
  text-decoration: underline;
  width: 33%;
}

.reserv .nav-link:hover{
  color: blue;
}

.contact {
  margin-left: 10px;
  border-right: solid 1px white;
  width: 33%;
}

.horraires {
  text-align: left;
  border-left: solid 1px white;
  width: 33%;
}

.horraires ul li {
  list-style: none;
  line-height: 33px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 15px;
  width: 100%;
}

.footer_box {
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 15px;
  width: 100%;
}
/*----------- pages ---------- */
/* home */
.title-box {
  background-color: #ddae48c2; 
  padding-top: 5px;
  font-family: 'Dancing Script', cursive;
  max-width: 600px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border: solid 2px #523e15;
  border-radius: 5px;
}
.title-box h1{
  text-align: center;
  font-weight: bolder;
  color: rgb(40, 105, 34);
}
.title-box p {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  padding-right: 30px;
  font-style: italic;
}
/*auth Page*/
.my-form {
  display:flex;
  flex-direction: column;
  justify-content: baseline;
  background-color: #ddae48c2;
  border: solid 2px #523e15;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  padding:2%;
  width: 80%;
  max-width: 500px;
}
.my-form h2 {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: underline;
  margin: auto;
}
.my-form form{
  display: flex;
  flex-direction: column;

}
.my-form form input{
  border: 5%;
  width:80%;
  margin: auto;
}

.my-form form label{
  font-size: 18px;
  font-weight: bold;
}
.my-form form button{
  width: 150px;
  margin:2% auto;
}
/* media queries tablette */
@media screen and (max-width: 760px) {
  /*home*/
  .carousel-control-prev {
    left: 0px; 
    width:30px;
  }
  
  .carousel-control-next {
    right: 0px; 
    width:30px;
  }
  /*footer*/
  .footer_box {
    flex-wrap: wrap;
  }
  .contact,
  .reserv,
  .horraires {
    text-align: center;
    width: 100%;
    border: none;
    padding: 10px;
    margin:auto;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
  }
  .horraires h4 {
    margin-left:2%;
  }
  .contact ul li {
    list-style: none;
  }
  .reserv .nav-link:hover{
  color: white;
}

}